services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: helpdeskdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
      - "5005:5005"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/helpdeskdb
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DEVTOOLS_RESTART_ENABLED: "true"
      SPRING_DEVTOOLS_ADD_PROPERTIES: "true"
      SPRING_DEVTOOLS_RESTART_POLLINTERVAL: "1000"
      SPRING_DEVTOOLS_RESTART_QUIETPERIOD: "500"
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
    depends_on:
      - db

volumes:
  pgdata:
